body{
  font-family: 'Poppins';
}
input {
  outline : true;
  cursor: help;
  display: block;
  width: 100%;
  padding: .375rem .75rem; /*1rem = 16 px par défaut*/
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box- shadow .15s ease-in-out;
}
.form-group{
  display: inline-block;
  padding: 5px;
}
.conv-container {
  display : flex;
  width:100%;
  flex-direction : row;
  margin-right :  auto;
  flex-wrap : wrap;
}
.conv-item {
  width:130px;
  margin : 0.25rem;
  display : flex;
  align-items : center;
  
}
.conv-item > label {
  width:40px;
  text-align : right;
  margin-right : 0.3rem;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
 
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
 
/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}
